:root {
    --azul: #3772FF;
    --branco: white;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-medio: #BCBCBC;
    --cinza-claro: #F6F6F6;
 }
 
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 body {
     background-image:  url('../img/Forma2.svg');
     background-repeat: no-repeat;
     background-position: top left;
     min-height: 100vh;
     font-size: 16px;
 }

 .cabecalho__imagemLogo {
    width: 0px;
 }

 .corpo {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
 }

 .conteudo__titulo {
    color: var(--azul);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    margin: 1em auto;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.flex-container > div {
    margin: 0.5em;
}

.container_card{
    background: #F7F7F7;
    width: 360px;
    height: 196px;
    margin-top: 1rem;
}

.conteudo__card___imagem{
    float: left;
    width: 148px;
    height: 148px;
    margin-top: 24px;
    margin-left: 9px;
    margin-right: 16px
}

.conteudo__card___texto{
    margin-top: 16px;
    margin-left: 16px;
}

.conteudo__card___titulo {

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #3772FF; 
}

.conteudo__card___descricao {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;

    color: #737380;

    text-align: center;
}

.conteudo__card___cidade{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #737380;
}

.conteudo__card___mensagemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 52px;
}

.conteudo__card___mensagemTexto{


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;

    color: #737380;
}

.conteudo__card___iconeMensagem{
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 15px;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('../img/FormaMed1.svg');
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 100vh;
        font-size: 16px;
       }
   
       .cabecalho__imagemLogo {
           padding-right: 3em;
           width: 100%;
        }
   
       .conteudo {
       width: auto;
       }
   
       .conteudo__titulo {
           margin: 5em auto 1em auto;
           width: 21em;
       }
       .conteudo__texto1 {
           display: none;
       }
   
       .conteudo__texto2{
           display: block;
           align-self: center;
           width: 22em;
           margin-bottom: 2em;
       }
   
       .conteudo__link {
           width: 21em;
       }
}