.rodape {
    background-color: var(--verde);
    color: var(--branco);
    padding: 3em;
    width: 100%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
}